body {
    background-color: red;
}

   a {
    color: red;
}

#current-link {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
    font-size: 38px;
}

/*
img {
    width: 400px;
    height: auto;
}
*/

h1 {
    text-align: center;
    color: red;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

h1 {
    border: 5px solid red;
    padding: 0;
    
    }
    
h2 {
     color: white;
    }
    
p {
     color: white;
     }

 
     h3 {
         color: white;
     }
     
     
    