h1 {
    color: blue;
}

ul.a {
    list-style-type: circle;
}

body {
    color:  #fff;
    font: 600 14px/24px "Open Sans"
} 

.box {
    background: #2db34a;
    border-radius: 6px;
    cursor: pointer;
    height: 95px;
    line-height: 95px;
    text-align: center;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
    width: 95px;
    
    
}

.box:hover {
background: #ff7b29;
border-radius: 50%;
}

body {
    background: black;
}

h2 {
    padding-top: 200px;
    border-top-color: white; 
    border-top-width: 50px
}




